<launch>
    <!-- launch the ros server  (place where new pallet detection classes are built) -->
    <node name='pallet_library' pkg='add_pallet' type='pallet_library' clear_params="true" output='screen'/>
    <!-- launch the ros client (place that sends new pallet information) -->
    <node name='remote_add_node' pkg='add_pallet' type='remote_add' output='screen'/>
    <!-- Load dynamic pallet parameters -->
    <!-- <rosparam file="$(find add_pallet)/cfg/dynamic_params.yaml" /> -->
</launch>